<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/layer/layer.js"></script>
    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

    <script type="text/javascript">

        $(function(){

            var number=0;
             $.ajax({
                     url:'/queryChuangguan',
                     type:'post',
                     success:function (data) {


                        var conent = "";
                         conent+="&nbsp;&nbsp;闯关排行榜";
                         conent+="<ul> ";
                         $.each(data,function (index,obj) {

                             conent+="<li style='width:50%;float:left'>NO"+(number+1)+".我是"+obj.username+"&nbsp;&nbsp;&nbsp;&nbsp;共闯关"+obj.userCount+"次</li>  ";
                             number++;
                             /*console.log(number);*/

                         })

                         conent += "</ul>";

                         $("#chuangguan").html(conent);

                     },error:function () {
                         alert("ajax访问失败,请查看控制台");
                     }

                     })



        })

        function back() {

            window.location.href="/home/ToPage?name=index-home";

        }





    </script>

    <style type="text/css">
        body,div{
            margin:0;
            padding:0;
        }
        body{
            width: 600px;
            background-color: #FFFFFF;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            border: 1px solid #FFFFFF;
            justify-content: flex-start;
        }
        .load_divs{
            height:760px;
        }
        .load_div{
            width: 230px;
            height: 190px;
            border:1px solid #FFFFFF;
        }

    </style>


</head>

<body>
<div style="width:550px;height:80px">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:back()">返回</a>
            </div>
            <div>
                <p class="navbar-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="5px">冲浪闯关</font></p>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">...</a></li>
            </ul>
        </div>
    </nav>
</div>
<div id="content" class="load_divs">
   <div class='load_div1' style='background-color:#FFFFFF;width:548px;height:150px'>
       <img src='/img/U3593P28T3D2475025F346DT20090416003316.jpg' height='100' width='548'>
    </div>
    <div id="chuangguan" class='load_div2' style='background-color:#FFFFFF;width:548px;height:150px'>

    </div>
    <div id="load_div">
        <div  class="load_div" style='background-color:#F3F3F3;float:left;margin-left:30px; '>
            <div style="position:relative;margin-top:22px;margin-left:22px;">
               <a href='/home/ToPage?name=createLight'><img src="/img/8c86eede20cc31a6b62e8f062bdae44c.jpg" height='140' width='180' ></a><br>
                <div style="position:absolute; z-index:2; left:40px; top:60px"><a href='/home/ToPage?name=createLight'><font size='4' color="#1e90ff">产品疾病知识</font></a></div>
            </div>
        </div>
        <div  class="load_div" style='background-color:#F3F3F3;float:left;margin-left:30px; '>
            <div style="position:relative;margin-top:22px;margin-left:22px;">
              <a href='/home/ToPage?name=diaocha'><img src="/img/134092401.jpg" height='140' width='180' ></a><br>
                <div style="position:absolute; z-index:2; left:50px; top:60px"><a href='/home/ToPage?name=diaocha'><font size='4' color="#1e90ff">问卷调查</font></a></div>
            </div>
        </div>
        <div  class="load_div" style='background-color:#F3F3F3;float:left;margin-left:30px;margin-top:20px '>
            <div style="position:relative;margin-top:22px;margin-left:22px;">
               <a href=''><img src="/img/tim6.jfif" height='140' width='180' ></a><br>
                <div style="position:absolute; z-index:2; left:50px; top:60px"><a href=''><font size='4' color="#1e90ff">互动游戏</font></a></div>
            </div>
        </div>
        <div  class="load_div" style='background-color:#F3F3F3;float:left;margin-left:30px;margin-top:20px '>
            <div style="position:relative;margin-top:22px;margin-left:22px;">
                <a href=''><img src="/img/t01fe4cd62538dc8515.jpg" height='140' width='180' ></a><br>
                <div style="position:absolute; z-index:2; left:70px; top:60px"><a href=''><font size='4' color="#1e90ff">暂无</font></a></div>
            </div>
        </div>

    </div>
</div>



</body>
</html>
