<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/layer/layer.js"></script>
    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript">

        $(function(){

            var  digit=1;

             $.ajax({
                     url:'/findItme',
                     type:'post',
                     success:function (data) {
                         var conntt="";
                             conntt+="<form id='form'>";
                         $.each(data, function (index, obj) {

                             var c=obj.content;
                             var con=c.split(",");

                             conntt += "<br>";
                             conntt += "<div class='load_div2' style='background-color:#F3F3F3;width:548px;height:200px'>";
                             conntt += "<br/>&nbsp;&nbsp;"+digit+".<font size='2'>" + obj.title + "</font><br><br>";
                             for (var i = 0; i <con.length ; i++) {

                                 conntt += "&nbsp;&nbsp;&nbsp;&nbsp;<input type='radio' value="+digit+" name=" +obj.id +" ><font size='1'>" + con[i] + "</font><br>";

                             }

                             conntt+="</div>";
                             digit++;


                         })
                         conntt += "<div class='load_div2' style='background-color:#F3F3F3;width:548px;height:180px'>";
                         conntt+="<center><br><br><br><button type='button' onclick='commitPaper()' class='btn btn-primary btn-lg '>提交答问卷";
                         conntt+="</button></center>";
                         conntt+="</div>";
                         conntt+="<form>";
                         $("#content").html(conntt);


                     },error:function () {
                         alert("ajax访问失败,请查看控制台");
                     }

                     })

        })

        function commitPaper() {

               /* $.ajax({
                        url:'/AddAnswer',
                        type:'post',
                        data:$("form").serialize(),
                        success:function () {*/

                            layer.open({
                                type: 1,
                                title: false,
                                closeBtn: 0,
                                shadeClose: true,
                                area: ['400px', '300px'], //宽高,
                                content:'<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/img_1.jpg" width="340" height="80px"><br> <br><center>感谢你的参与，您将获得200积</center><br><center>分,积分可兑换奖品</center><br> <center><button  onclick="upateCount()"  type="button" class="btn btn-primary btn-lg active">返回</button></center>'

                            });


                     /*   },error:function () {
                            alert("ajax访问失败,请查看控制台");
                        }

                        })*/

        }


      function upateCount() {

            var userid=$("#userid").val();
             $.ajax({
                     url:'/upateCount',
                     type:'post',
                     data:{id:userid},
                     success:function (data) {

                      location.href="/home/ToPage?name=chuangguan";

                     },error:function () {
                         alert("ajax访问失败,请查看控制台");
                     }

                     })

        }

        function back() {

            location.href="/home/ToPage?name=chuangguan";

        }




    </script>

</head>

<!--广告页面引入-->
<head th:replace="left :: head"></head>
<head th:replace="right :: head"></head>
<body>
<div style="margin-left: 500px">
    <div style="width:550px;height:80px">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="javascript:back()">返回</a>
                </div>
                <div>
                    <p class="navbar-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="5px">闯关测试一</font></p>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">...</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <input type="hidden" id="userid" th:value="${session.user?.id}">
    <div id="content">

    </div>
</div>
    <div id="div1" style="width: 240px;height: 610px;margin-left: 200px;border-radius: 10px; margin-top: 0px;position: fixed" >
        <div id="div001"  th:replace="left :: left" ></div>
    </div>
    <div id="div2" style="width: 240px;height: 610px;margin-left: 1150px;border-radius: 10px; margin-top: 0px;position: fixed">
        <div id="div002"  th:replace="right :: right" ></div>
    </div>
</body>
</html>
