<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/layer/layer.js"></script>
    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</head>
<script type="text/javascript">

    function back() {
        location.href="/home/ToPage?name=index-home"
    }
</script>
<style type="text/css">
    body,div{
        margin:0;
        padding:0;
    }
    body{
        width: 600px;
        background-color: #FFFFFF;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        border: 1px solid #FFFFFF;
        justify-content: flex-start;
    }
    .load_divs{
        height:780px;
    }
    .load_div{
        width: 220px;
        height: 230px;
        border:1px solid #FFFFFF;
    }



</style>
<body>
<div style="width:550px;height:80px">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:back()">返回</a>
            </div>
            <div>
                <p class="navbar-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="5px">实用工具</font></p>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">...</a></li>
            </ul>
        </div>
    </nav>
</div>
<div id="conent" class="load_divs">
    <div  class="load_div" style='background-color:#F3F3F3;float:left;margin-left:40px; '>

        <div style="position:relative;margin-top:22px;margin-left:16px;">
            <a href='/home/ToPage?name=general'><img src="/img/t01fe4cd62538dc8515.jpg" height='180' width='180' ></a>
            <div style="position:absolute; z-index:2; left:40px; top:70px"><font size="5px" color="blue">临床诊断</font></div>
        </div>

    </div>
    <div  class="load_div" style='background-color:#F3F3F3;float:left;margin-left:40px;'>
        <div style="position:relative;margin-top:22px;margin-left:16px;">
           <a href='/home/ToPage?name=patient'><img src="/img/8c86eede20cc31a6b62e8f062bdae44c.jpg" height='180' width='180' ></a>
            <div style="position:absolute; z-index:2; left:40px; top:70px"><font size="5px" color="blue"><a href='/home/ToPage?name=patient'>患者教育</a></font></div>
        </div>
    </div>
    <div  class="load_div" style='background-color:#F3F3F3;float:left;margin-left:40px;margin-top:20px'>
        <div style="position:relative;margin-top:22px;margin-left:16px;">
            <a href='/home/ToPage?name=diaocha'><img src="/img/tim6.jfif" height='180' width='180' ></a>
            <div style="position:absolute; z-index:2; left:40px; top:70px"><font size="5px" color="blue">内容待定</font></div>
        </div>
    </div>
    <div  class="load_div" style='background-color:#F3F3F3;float:left;margin-left:40px;margin-top:20px'>
        <div style="position:relative;margin-top:22px;margin-left:16px;">
           <a href='/home/ToPage?name=diaocha'><img src="/img/t01b15fb1a97167cc6c.jpg" height='180' width='180' ></a>
            <div style="position:absolute; z-index:2; left:40px; top:70px"><font size="5px" color="blue">内容待定</font></div>
        </div>
    </div>
    <div  class="load_div" style='background-color:#F3F3F3;float:left;margin-left:40px;margin-top:20px'>
        <div style="position:relative;margin-top:22px;margin-left:16px;">
            <a href='/home/ToPage?name=diaocha'><img src="/img/U3593P28T3D2475025F346DT20090416003316.jpg" height='180' width='180' ></a>
            <div style="position:absolute; z-index:2; left:40px; top:70px"><font size="5px" color="blue">内容待定</font></div>
        </div>
    </div>
    <div  class="load_div" style='background-color:#F3F3F3;float:left;margin-left:40px;margin-top: 20px'>
        <div style="position:relative;margin-top:22px;margin-left:16px;">
           <a href='/home/ToPage?name=diaocha'><img src="/img/134092401.jpg" height='180' width='180' ></a>
            <div style="position:absolute; z-index:2; left:40px; top:70px"><font size="5px" color="blue">内容待定</font></div>
        </div>
    </div>

    </div>
</div>
</body>
</html>
