<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>个人积分</title>

    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/layer/layer.js"></script>

    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</head>
<script type="text/javascript">
    var ii = 0;
    $(function (){
        var id = $("#reUrl1").val();
        var img2 = $("#reUrl3").val();
        if (img2 != "" ){
            $("#tupian").prop("src",img2);
        }

        var name = $("#reUrl2").val();
        if (name != ""){
            $("#biaoqian").html("已登录");
            $("#span2").html("0000"+id);
            $("#span1").html(name);
        }else{
            $("#denglu").html("<a href='/home/ToPage?name=login'><font size='4'>请先登录</font></a>");
        }

        var jf = $("#reUr15").val()
        var balance = $("#reUr17").val()
        var phone = $("#reUr16").val()
        var vip = $("#reUr14").val();
        if (vip == "1") {
            vip="VIP"
        }else {
            vip="普通"
        }
        if (name != ""){
            $("#span3").html(jf);
            $("#span4").html(balance);
            $("#span5").html(phone);
            $("#span6").html(vip);
        }
    });
    /*支付*/
    function SendBlance() {
        var jg = $("#money").val();
        var id = $("#reUrl1").val();
        location.href = "/zhifu/zhifu?jg=" + jg;
        upblance(jg,id);

    }

    function upblance(jg,id) {
        /*ajax   start*/
                $.ajax({
                   url:"/zhifu/updateBlance?jg="+jg+"&id="+id,
                   type:"POST",
                   beforeSend:function(){
                          ii = layer.msg('加载中', {
                          icon: 16
                          ,shade: 0.01
                          });
                    },
                   success:function(a){

                   },
                   error:function(){
                      layer.msg("ajax失败");
                   },complete:function(){
                         layer.close(ii);
                    }
               });
             /*ajax   end*/
    }


</script>
<body>
<input type="hidden" id="reUrl1" th:value="${session.user?.id}">
<input type="hidden" id="reUrl2" th:value="${session.user?.username}">
<input type="hidden" id="reUrl3" th:value="${session.user?.img}">
<input type="hidden" id="reUr14" th:value="${session.user?.vip}">
<input type="hidden" id="reUr15" th:value="${session.user?.num}">
<input type="hidden" id="reUr16" th:value="${session.user?.phone}">
<input type="hidden" id="reUr17" th:value="${session.user?.balance}">
<center><div style='height: 80px;width: 600px'>

    <nav class="navbar navbar-default " role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home/ToPage?name=myprefecture">返回</a>
                <a class="navbar-brand" href="#"><font size='6'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;个人信息</font></a>
            </div>

            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Java <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">jmeter</a></li>
                            <li><a href="#">EJB</a></li>
                            <li><a href="#">Jasper Report</a></li>
                            <li class="divider"></li>
                            <li><a href="#">分离的链接</a></li>
                            <li class="divider"></li>
                            <li><a href="#">另一个分离的链接</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav><!--导航栏-->
    <div style="background-color: #56eed2;width: 600px;height: 320px;margin-top: -20px;">
        <div style="margin-left:520px;padding-top:15px;"><font size="3" color="#ffe4c4" ><a id="biaoqian">未登录</a></font></div>
        <div style="margin-top: 15px;"><img id="tupian" class="img-circle" src="https://erp-impw123.oss-cn-beijing.aliyuncs.com/images/601a697e22974e1ead4036cc8dd2c2da.gif?Expires=4705628597&OSSAccessKeyId=LTAI0TzZsFR2VLsN&Signature=VKklLIraMd2fW%2BIdpJsNP2ul3Tg%3D" width="160px" height="160px"></div>
        <div style="margin-top: 15px;">
            <div><font size="4" >昵称：</font><font size="4"><span id="span1">游客状态</span></font></div>
            <div><font size="4" >ID：</font><font size="4"><span id="span2">000000</span></font></div>
        </div>
    </div>

    <div style="width: 600px;height: 320px;margin-top: 41px;">
        <div>
            <center>
                <div id="denglu">
                    <font size="4">尊敬的<span id="span6"></span>用户</font>
                    <a href="/home/ToPage?name=kaitongVIP"><font size="4" color="red">(开通会员)</font></a>
                </div>
            </center>
        </div>
        <div style="margin-left: 30px">

            <table  class="table">
                <tr>
                    <td><font size="4">积分：</font></td>
                    <td><font size="4"><span id="span3">000000</span></font></td>
                </tr>
                <tr>
                    <td><font size="4">账户余额：</font></td>
                    <td><font size="4"><span id="span4">000000</span></font>
                        <a style="border-radius: 10px;" href='javascript:void(0)'class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">充值</a></td>
                </tr>
                <tr>
                    <td><font size="4">注册手机号：</font></td>
                    <td><font size="4"><span id="span5">000000</span></font></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</center>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    请输入您要充值的金额
                </h4>
            </div>
            <div class="modal-body">
                <input id="money" type="text" >
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" onclick="SendBlance()" class="btn btn-primary">
                    保存
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
</html>