<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="100229030" charset="utf-8"></script>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/layer/layer.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/js/bootstrap-bootbox/bootbox.js"></script>
    <link rel="stylesheet" href="/js/layui/css/layui.css">
    <script src="/js/layui/layui.js"></script>
</head>
<script type="text/javascript">
    var ii = 0;
    $(function (){
        getquanweizhuanjia();
        getTitleCookie();
        getMoadlContent();
        //打开模态框
        $('#myModal').modal('show')

        getTitle();
    });
    function getquanweizhuanjia() {
        /*ajax   start*/
                $.ajax({
                   url:"/home/getzhuanjia",
                   beforeSend:function(){
                          ii = layer.msg('加载中', {
                          icon: 16
                          ,shade: 0.01
                          });
                    },
                   success:function(a){
                       var i = 0;
                      $.each(a,function (index,obj){
                          i++;
                          $("#quanwei"+i).prop("src",obj.dt_img);
                          $("#mingcheng"+i).html(obj.dt_name);
                          $("#dizhi"+i).html(obj.dt_addr);
                      });
                   },
                   error:function(){
                      layer.msg("ajax失败");
                   },complete:function(){
                         layer.close(ii);
                    }
               });
             /*ajax   end*/
        /*ajax   start*/
                $.ajax({
                   url:"/home/getzanmei",
                   beforeSend:function(){
                          ii = layer.msg('加载中', {
                          icon: 16
                          ,shade: 0.01
                          });
                    },
                   success:function(a){
                       var i = 0;
                       $.each(a,function (index,obj){
                           i++;
                           $("#zanmei"+i).prop("src",obj.dt_img);
                           $("#mingcheng2"+i).html(obj.dt_name);
                           $("#dizhi2"+i).html(obj.dt_addr);
                       });
                   },
                   error:function(){
                      layer.msg("ajax失败");
                   },complete:function(){
                         layer.close(ii);
                    }
               });
             /*ajax   end*/
        /*ajax   start*/
                $.ajax({
                   url:"/home/getTitle",
                   beforeSend:function(){
                          ii = layer.msg('加载中', {
                          icon: 16
                          ,shade: 0.01
                          });
                    },
                   success:function(a){
                       var content = "<table class='table'>";
                        $.each(a, function (index,obj) {
                            content += "<tr><td><a href='/wenz/toView?viewName=wenzhang&title="+obj.title+"&id="+obj.id+"'><font size='4' style='color: #1c94c4'>"+obj.title+"</font></a></td></tr>";
                        })
                        content += "</table>";
                        $("#title1").html(content);

                   },
                   error:function(){
                      layer.msg("ajax失败");
                   },complete:function(){
                         layer.close(ii);
                    }
               });
             /*ajax   end*/
    }

    function getMorezhuanjia(tmp){
        location.href="/home/to?tmp="+tmp;
    }
    function bcklocation(){
        location.href="/home/ToPage?name=bingtong";
    function getTitle() {
        /*ajax   start*/
                $.ajax({
                   url:"/home/getTitleAll",
                   beforeSend:function(){
                          ii = layer.msg('加载中', {
                          icon: 16
                          ,shade: 0.01
                          });},
                   success:function(a){
                       var content1 = "";
                       var content2 = "";
                       $.each(a, function(index, obj){
                           if (obj.block==1){
                               content1+="<tr><td><a href='"+obj.href+"'><font size='4' style='color: #1c94c4'>"+obj.title+"</font></a></td></tr>";
                           }
                           if (obj.block==2){
                               content2+="<tr><td><a href='"+obj.href+"'><font size='4' style='color: #1c94c4'>"+obj.title+"</font></a></td></tr>";
                           }
                       });
                       $("#table1").html(content1);
                       $("#table2").html(content2);
                   },
                   error:function(){
                      layer.msg("ajax失败");
                   },complete:function(){
                         layer.close(ii);
                    }
               });
             /*ajax   end*/
    }
    function getTitleCookie() {
            /*ajax   start*/
                    $.ajax({
                       url:"/wenz/getTitleCookie",
                       type:"POST",
                       success:function(a){
                           if (a=="1") {
                               $("#idv").hide();
                           }else if(a=="0"){
                               queryTitleName();
                           }
                       },
                       error:function(){
                          layer.msg("ajax失败");
                       },complete:function(){
                             layer.close(ii);
                        }
                   });
                 /*ajax   end*/
    }
    function queryTitleName(){
        $.ajax({
            url:"/wenz/queryTitleName",
            success:function(result){
                var  info="";
                var content="";
                $.each(result, function (index,obj) {
                    if (index==0) {
                        content+=""+obj.titleContent;
                    }
                });
                console.log(content);
                  info+='<li style="font-size: 20px"><font color="red">公告</font>:<b>'+content+'</b></li>';
                if (content=="" && content==null) {
                   return ;
                }else{
                    $("#hua").append(info);
                }
            }
        })
    }

    function guan() {
        /* 确认框start */
        bootbox.confirm({
            size: "big",
            message: "是否关闭广告?",
            callback: function(result){
                console.log(result);
                if(result){
                    $("#idv").hide();
                }else{

                }
            }
        })
        /* 确认框end */
    }
    function getMoadlContent() {
            /*ajax   start*/
                    $.ajax({
                       url:"/wenz/getMoadlContent",
                       type:"POST",
                       beforeSend:function(){
                              ii = layer.msg('加载中', {
                              icon: 16
                              ,shade: 0.01
                              });
                        },
                       success:function(a){
                           var content="";
                           $.each(a, function (index, obj) {
                               if (index==0) {
                                   content+="<font size='4px'>"+obj.mainContent+"</font>";
                               }
                           });
                           $("#modalContent").html(content);
                       },
                       error:function(){
                          layer.msg("ajax失败");
                       },complete:function(){
                             layer.close(ii);
                        }
                   });
                 /*ajax   end*/
    }

</script>
<body>
    <div id="iii">
        <div  id="idv">
        <marquee direction="left" onMouseOut="this.start()" onMouseOver="this.stop()" scrollamount="25" style="height: inherit;text-align: left;">
            <ul style="list-style: none;"  id="hua"></ul>
        </marquee>
            <a href="javascript:guan()" >关闭公告</a>
        </div>
    </div>
    <div>
        <center>
            <div>
    <!--模态框 start-->
    <!-- 模态框（Modal） -->
    <div class="modal fade"style="width: 80%;height: 80%;margin-left: 10%;margin-top: 10%"  id="myModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <font size="6px">重大公告</font>
                    </h4>
                </div>
                <!--内容-->
                <div class="modal-body" id="modalContent">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--模态框 end-->
    <div class="row" style="width: 600px;height: 800px;">
        <nav style="margin-left: 16px;" class="navbar navbar-default " role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div style="float:left"> <a class="navbar-brand" href="#" id="xuan">&nbsp;&nbsp;微信</a></div>
                    <div style="float:left;margin-left:100px"><a class="navbar-brand" href="#" id="xuan1">美赞臣婴幼儿营养研究院</a></div>
                    <div style="float:left;margin-left:120px"> <a class="navbar-brand" href="#" id="xuan2">...</a></div>
                </div>
            </div>
        </nav><!--导航条-->
        <div style="padding-left:142px">
            <font size="6">美赞臣婴幼儿营养研究院</font><a href="javascript:QC.Login.signOut();" style="margin-left:6px;">退出</a><br/><br/>
        </div>
        <div style="padding-left: 100px;padding-right: 68px;">
            <font size="4" >欢迎您来到美赞臣婴幼儿营养研究院，这里有最权威的专家团队、最前沿的热点资讯、最精彩的专家课程，别忘记注册成为我们的会员哦！</font>
        </div><br/><br/>
        <div style="width: 430px;height: 400px;margin-left: -35px;padding-left: 100px;padding-right: 68px;border-radius: 10px;">
            <div style="margin-left: -100px;width: 500px;">
                <ul class="breadcrumb">
                    <li><font size="4"><b>权威专家</b></font></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div style="margin-left: 365px; margin-top: -30px;"><button class="btn btn-default" style="background-color: #1c94c4" onclick="getMorezhuanjia(1)">更多专家</button></div>
                </ul>
            </div>
            <div class="row" style="margin-left: -100px;width: 430px;">   <!--170-->
                    <div class="col-md-4" style="width: 160px;height: 200px;background-color: #9acfea;border-radius: 10px;" >
                        <a href="http://192.168.1.166:2001/home/to?tmp=1"><img id="quanwei1" style="border-radius: 10px;margin-top: 11px;" src="http://doctorimg.oss-cn-beijing.aliyuncs.com/photo.png?Expires=1551787221&OSSAccessKeyId=TMP.AQGl93kkMkzf8leUlaw7PkxbfH_j9MBWmHJG8OnbvmYfx6j4qIsI0PxmAJjAMC4CFQCDNn8F_SoOXKaprvpGF15cz__l9AIVAMaR55OZapSRMhzc9pbpa9WejAj9&Signature=IOAQo0jqIiqrN7sNVDKhf47JAZc%3D" height="130px" width=130px/></a><br>
                            <a href="http://192.168.1.166:2001/home/to?tmp=1"><font id="mingcheng1" ></font></a><br>
                        <font id="dizhi1" size="2"></font>
                    </div>
                    <div class="col-md-4" style="width: 160px;height: 200px;background-color: #9acfea;margin-top: -200px;margin-left: 163px;;border-radius: 10px;" >
                        <a href="http://192.168.1.166:2001/home/to?tmp=1"><img id="quanwei2" style="border-radius: 10px;margin-top: 11px;" src="http://doctorimg.oss-cn-beijing.aliyuncs.com/photo.png?Expires=1551787221&OSSAccessKeyId=TMP.AQGl93kkMkzf8leUlaw7PkxbfH_j9MBWmHJG8OnbvmYfx6j4qIsI0PxmAJjAMC4CFQCDNn8F_SoOXKaprvpGF15cz__l9AIVAMaR55OZapSRMhzc9pbpa9WejAj9&Signature=IOAQo0jqIiqrN7sNVDKhf47JAZc%3D" height="130px" width=130px/></a>
                        <a href="http://192.168.1.166:2001/home/to?tmp=1"><font id="mingcheng2" ></font></a><br>
                        <font id="dizhi2" size="2"></font>
                    </div>
                    <div class="col-md-4" style="width: 160px;height: 200px;background-color: #9acfea;margin-left: 325px;margin-top: -199px;;border-radius: 10px;" >
                        <a href="http://192.168.1.166:2001/home/to?tmp=1"><img id="quanwei3" style="border-radius: 10px;margin-top: 11px;" src="http://doctorimg.oss-cn-beijing.aliyuncs.com/photo.png?Expires=1551787221&OSSAccessKeyId=TMP.AQGl93kkMkzf8leUlaw7PkxbfH_j9MBWmHJG8OnbvmYfx6j4qIsI0PxmAJjAMC4CFQCDNn8F_SoOXKaprvpGF15cz__l9AIVAMaR55OZapSRMhzc9pbpa9WejAj9&Signature=IOAQo0jqIiqrN7sNVDKhf47JAZc%3D" height="130px" width=130px/></a>
                        <a href="http://192.168.1.166:2001/home/to?tmp=1"><font id="mingcheng3" ></font></a><br>
                        <font id="dizhi3" size="2"></font>
                    </div>
            </div>
            <div style="margin-left: -100px;width: 500px;">
                <ul class="breadcrumb">
                    <li><font size="4"><b>美赞专家</b></font></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div style="margin-left: 365px; margin-top: -30px;"><button class="btn btn-default" style="background-color: #1c94c4"  onclick="getMorezhuanjia(0)">更多专家</button></div>
                </ul>
            </div>
            <div class="row" style="margin-left: -100px;width: 430px;">   <!--170-->
                <div class="col-md-4" style="width: 160px;height: 200px;background-color: #9acfea;border-radius: 10px;" >
                    <a href="http://192.168.1.166:2001/home/to?tmp=0"><img id="zanmei1"  style="border-radius: 10px;margin-top: 11px;" src="http://doctorimg.oss-cn-beijing.aliyuncs.com/photo.png?Expires=1551787221&OSSAccessKeyId=TMP.AQGl93kkMkzf8leUlaw7PkxbfH_j9MBWmHJG8OnbvmYfx6j4qIsI0PxmAJjAMC4CFQCDNn8F_SoOXKaprvpGF15cz__l9AIVAMaR55OZapSRMhzc9pbpa9WejAj9&Signature=IOAQo0jqIiqrN7sNVDKhf47JAZc%3D" height="130px" width=130px/></a>
                    <a href="http://192.168.1.166:2001/home/to?tmp=0"><font id="mingcheng21" ></font></a><br>
                    <font id="dizhi21" size="2"></font>
                </div>
                <div class="col-md-4" style="width: 160px;height: 200px;background-color: #9acfea;margin-top: -200px;margin-left: 163px;;border-radius: 10px;" >
                    <a href="http://localhost:2001/home/to?tmp=0"><img id="zanmei2"  style="border-radius: 10px;margin-top: 11px;" src="http://doctorimg.oss-cn-beijing.aliyuncs.com/photo.png?Expires=1551787221&OSSAccessKeyId=TMP.AQGl93kkMkzf8leUlaw7PkxbfH_j9MBWmHJG8OnbvmYfx6j4qIsI0PxmAJjAMC4CFQCDNn8F_SoOXKaprvpGF15cz__l9AIVAMaR55OZapSRMhzc9pbpa9WejAj9&Signature=IOAQo0jqIiqrN7sNVDKhf47JAZc%3D" height="130px" width=130px/></a>
                    <a href="http://localhost:2001/home/to?tmp=0"><font id="mingcheng22" ></font></a><br>
                    <font id="dizhi22" size="2"></font>
                </div>
                <div class="col-md-4" style="width: 160px;height: 200px;background-color: #9acfea;margin-left: 325px;margin-top: -199px;;border-radius: 10px;" >
                    <a href="http://192.168.1.166:2001/home/to?tmp=0"><img id="zanmei3" style="border-radius: 10px;margin-top: 11px;" src="http://doctorimg.oss-cn-beijing.aliyuncs.com/photo.png?Expires=1551787221&OSSAccessKeyId=TMP.AQGl93kkMkzf8leUlaw7PkxbfH_j9MBWmHJG8OnbvmYfx6j4qIsI0PxmAJjAMC4CFQCDNn8F_SoOXKaprvpGF15cz__l9AIVAMaR55OZapSRMhzc9pbpa9WejAj9&Signature=IOAQo0jqIiqrN7sNVDKhf47JAZc%3D" height="130px" width=130px/></a>
                    <a href="http://192.168.1.166:2001/home/to?tmp=0"><font id="mingcheng23" ></font></a><br>
                    <font id="dizhi23" size="2"></font>
                </div>
            </div>
            <br/> <br/> <br/> <br/>
            <div class="row" style="margin-left: -100px;width: 430px;">   <!--170-->
                <div class="col-md-4" style="width: 160px;height: 250px;background-color: #9acfea;border-radius: 10px;" >
                    <br/>
                    <span id="title1" >

                    </span>
                </div>
                <div class="col-md-4" style="width: 160px;height: 250px;background-color: #9acfea;margin-top: -249px;margin-left: 163px;border-radius: 10px;" >
                    <br/>
                    <table id="table1" class="table">

                    </table>
                </div>
                <div class="col-md-4" style="width: 160px;height: 250px;background-color: #9acfea;margin-left: 325px;margin-top: -250px;border-radius: 10px;" >
                    <br/>
                    <table id="table2" class="table">

                    </table>
                </div>
            </div>
        </div>
        <div style="border-radius: 10px;background-color: #00bbee;width: 600px;height: 66px;margin-top: 466px;margin-left: 15px;">
             <div style="padding-top: 12px; padding-left: 74px;"><font size="6">环球科研  |  专业视角  |  会员尊享</font></div>
        </div>
    </div>
     </div>
    </center>
</div>
</body>
</html>