<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <link rel="shortcut icon" type="image/icon" href="/images/jd.ico">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script src="/js/layer/layer.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/js/bootstrap-bootbox/bootbox.js"></script>
    <link rel="stylesheet" href="/js/layui/css/layui.css">
    <script src="/js/layui/layui.js"></script>
</head>
<!--广告页面引入-->
<head th:replace="left :: head"></head>
<head th:replace="right :: head"></head>
<script type="text/javascript">
    var ii = 0;
    $(function () {
        jiesuan();
        getListFf();
    });

    function getListFf() {
            /*ajax   start*/
                    $.ajax({
                       url:"/cg/getListFf",
                       type:"POST",
                       beforeSend:function(){
                              ii = layer.msg('加载中', {
                              icon: 16
                              ,shade: 0.01
                              });
                        },
                       success:function(a){
                           if (a!=null) {
                               var aa="A,B,C,D,E,F,G";
                               var zimu=aa.split(",");
                               console.log(a);
                               var content="";
                               var num=1;
                               $.each(a, function (index, obj) {
                                   var s=obj.questionKey;
                                   var qkey=s.split(',');
                                   content+="<tr>";
                                   content+="<td>";
                                   content+="<b>"+num+"</b>、<b>"+obj.question+"</b>( )<br>";
                                   for(var i=0;i<qkey.length;i++){
                                       content+="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input value='"+zimu[i]+"' type='radio' name='s"+obj.id+"'> &nbsp;&nbsp;"+zimu[i]+"、";
                                       content+=qkey[i]+"<br>";
                                   }
                                   content+="<b>解析:正确答案</b> &nbsp <font color='red'><b>"+obj.answerKey+"</b></font>&nbsp "+obj.keyWhy+"";
                                   content+="</td>";
                                   content+="</tr>";
                                   num++;
                               });
                               $("#table").html(content);
                           }

                       },
                       error:function(){
                          layer.msg("ajax失败");
                       },complete:function(){
                             layer.close(ii);
                        }
                   });
                 /*ajax   end*/
    }

    function jiesuan() {
       var a= $("#jiesuan").val();
        var content="恭喜你答对了<font color='red'>"+a+"</font>道,获得积分"+a*2+"!";
        $("#content").html(content);
    }

    function toCg() {
        window.location.href="/wenz/toView?viewName=createLight";
    }

</script>
<body>

<input id="listFf" type="hidden" th:value="${session?.listFf}">
<input type="hidden" id="jiesuan"  th:value="${param?.a}">
<div style="margin-left: 30%">
<div class="row" style="width: 600px;height: 800px;">
    <h2>
        <div class="panel panel-default" style="margin-top: 5px;margin-left: 45px;width: 450px;height: 30px;">
            <div class="panel-heading">
                <div style="margin-left: 130px">
                    闯关测试
                </div>
            </div>
        </div>
    </h2>

    <h3>
        <div id="content" style="margin-top: 70px;margin-left: 110px"></div>
        <h4>
        <div style="margin-left: 165px;margin-top: 20px">
            <button onclick="toCg()" class="layui-btn layui-btn-normal layui-btn-radius">重新返回闯关</button>
        </div>
          <div style="margin-left: 120px;margin-top: 20px">
              *全部答对可额外获得200积分!
          </div>
        </h4>
    </h3>

    <div style="margin-left: 40px"><font size="5px">错题解析</font></div>
    <hr>
    <div style="margin-left: 40px;margin-top: 20px">
        <!--table start-->
        <div style="margin-left: 20px;margin-top: 10px">
                <table id="table" width="500px" border="1px"></table>
        </div>
        <!--table end-->
        <div style="margin-top: 50px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    </div>

</div>
</div>
<div id="div1" style="width: 240px;height: 610px;margin-left: 230px;border-radius: 10px; margin-top: -730px;position: fixed" >
    <div id="div001"  th:replace="left :: left" ></div>
</div>
<div id="div2" style="width: 240px;height: 610px;margin-left: 1100px;border-radius: 10px; margin-top: -730px;position: fixed">
    <div id="div002"  th:replace="right :: right" ></div>
</div>
</body>
</html>