<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>开通VIP</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/layer/layer.js"></script>
    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

</head>
<script type="text/javascript">
        var ii = 0;
    $(function (){
            getdata();
            var name = $("#reUrl2").val();
            if (name != "" ){
                $("#username").html(name);}
            var img = $("#reUrl3").val();
            if (img != "" ){
                $("#tupian").prop("src",img);}
    });
    function kaitongVIP() {
        var userid = $("#reUrl1").val();
        if (userid != ""){
            /*ajax   start*/
                    $.ajax({
                       url:"/zhifu/kaitongVIP",
                       data:$("#form").serialize(),
                       beforeSend:function(){
                              ii = layer.msg('加载中', {
                              icon: 16
                              ,shade: 0.01
                              }); },
                       success:function(a){

                            location.href="/zhifu/zhifu?jg="+a;
                       }, error:function(){
                          layer.msg("ajax失败");
                       },complete:function(){
                             layer.close(ii);} });
                 /*ajax   end*/
        } else{
           layer.msg("请先登录！！！");
        }
    }
    function getdata() {
        /*ajax   start*/
                $.ajax({
                   url:"/home/getVIPInfo",
                   beforeSend:function(){
                          ii = layer.msg('加载中', {
                          icon: 16
                          ,shade: 0.01
                          });
                    },
                   success:function(a){
                        var content = "";
                       var q = 0;
                        $.each(a, function(index,obj){
                            q++;
                            var color = q%2!=0?"#c5c8ea":"#ea8cc4";
                            content += (q-1)%3==0?"<div class='row'>":" ";
                            content += "<div class='col-md-4' style='border-radius: 10px;background-color: "+color+";width: 150px;height: 210px;margin-left: 25px;margin-top: 25px;'>";
                            content += "<center><br><font size='4'>"+obj.vipone+"</font><br>";
                            content += "<b><font size='2' color='#e4ea1b'>￥</font><font size='6' color='#e4ea1b'>"+obj.vipmoney+"</font></b><br>";
                            content += "<font size='3' color='#c3eae5'>"+obj.vipthree+"</font><br>";
                            content += "<font size='3' color='#c3eae5'>"+obj.vipfour+"</font><br>";
                            content += "<input type='radio' name='money' value='"+obj.info+"'></center></div>";
                            content += q%3==0?"</div>":" ";
                        });
                        $("#info").html(content);
                    },
                   error:function(){
                      layer.msg("ajax失败");
                   },complete:function(){
                         layer.close(ii);
                    }
               });
             /*ajax   end*/
    }
    function fanhui() {
        location.href="/home/ToPage?name=index-home";
    }
</script>
<body>
<center>

<input type="hidden" id="reUrl2" th:value="${session.user?.username}">
<input type="hidden" id="reUrl3" th:value="${session.user?.img}">
    <div style="border-radius: 10px;background-color: #eeca6e;width: 577px;height: 160px" >
        <input style="margin-left: -400px;" class="btn btn-success btn-sm" onclick="fanhui()" value="返回">
        <div style="padding-top: 26px;margin-left: -255px;"><img id="tupian" class="img-circle" src="https://erp-impw123.oss-cn-beijing.aliyuncs.com/images/601a697e22974e1ead4036cc8dd2c2da.gif?Expires=4705628597&OSSAccessKeyId=LTAI0TzZsFR2VLsN&Signature=VKklLIraMd2fW%2BIdpJsNP2ul3Tg%3D" width="100px" height="100px"></div>
        <div style="margin-left: 45px;margin-top: -80px;">
            <font color="#6495ed" size="4">账户:</font><font id="username"  color="red" size="4">游客000000</font><br>
        </div>
    </div>
    <div style="margin-top: 15px;">
        <input type="button" class="btn btn-success btn-lg" onclick="kaitongVIP()"  value="立即开通">
    </div>
    <form id="form">
        <input type="hidden" name="userid" id="reUrl1" th:value="${session.user?.id}">
        <div style="width: 577px">
            <div id="info" style="margin-left: 28px;margin-top: -10px;">
             </div>
        </div>
    </form>

</center>
</body>
</html>