<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <link rel="shortcut icon" type="image/icon" href="/images/jd.ico">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script src="/js/layer/layer.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/js/bootstrap-bootbox/bootbox.js"></script>
    <link rel="stylesheet" href="/js/layui/css/layui.css">
    <script src="/js/layui/layui.js"></script>

</head>
<script type="text/javascript">
    var ii=0;
    function toLogin() {
        var reUrl=$("#reUrl").val();
            /*ajax   start*/
                    $.ajax({
                       url:"/login/toLogin",
                       type:"POST",
                       data:$("#login_form").serialize(),
                       beforeSend:function(){
                              ii = layer.msg('加载中', {
                              icon: 16
                              ,shade: 0.01
                              });
                        },
                       success:function(a){
                           if (a ==1) {
                               if (reUrl != null && reUrl != "") {
                                   /* 确认框start */
                                   bootbox.confirm({
                                       size: "small",
                                       message: "是否接着刚才的操作?",
                                       callback: function (result) {
                                           console.log(result);
                                           if (result) {
                                               window.location.href = reUrl;
                                           } else {
                                               window.location.href = "/wenz/toView?viewName=index-home";
                                           }
                                       }
                                   });
                                   /* 确认框end */
                               } else {
                                   window.location.href = "/wenz/toView?viewName=index-home";
                               }
                           }else if (a==2) {
                               layer.msg("账号或密码错误");
                               return ;
                           }
                          
                       },
                       error:function(){
                          layer.msg("ajax失败");
                       },complete:function(){
                             layer.close(ii);
                        }
                   });
                 /*ajax   end*/

    }
    function keyLogin(){
        if (event.keyCode==13)  //回车键的键值为13
            toLogin();//调用登录按钮的登录事件
    }
</script>
<body onkeypress="keyLogin()">
<input type="hidden" id="reUrl" th:value="${session.reUrl?.requestUrl}">
<div class="up" >
    <img src="/images/huangkuang.jpg" width="50px" height="60px;" class="hy_img">
    <div class="hy">
        欢迎登录
    </div>
</div>
<div class="middle" style="background:#ccffff">
    <div>
        <div style="margin-top: 50px;background: #ef4d4d;height: 70px" >

        </div>
    </div>
    <div style="margin-left: 50px;margin-top: 50px;">
        <img src="/images/20190107164001.jpg" height="300px" width="300px"/></div>
    <!--login start-->
    <div class="login" style="margin-top: -300px;margin-left: 100px;">
        <!--ul start-->
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#home" data-toggle="tab">
                    账号密码登录
                </a>
            </li>
            <!--<li>-->
                <!--<a href="#ios" data-toggle="tab">-->
                    <!--手机登录-->
                <!--</a>-->
            <!--</li>-->

        </ul>
        <!--ul end-->
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">
                <!--start-->
                <div class="l1 ">
                    <div class="l1_font_01 ">您好,欢迎登录!</div>
                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                </div>
                <div class="blank_01"></div>
                <div class="ts">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div class="blank_01"></div>
                <form  id="login_form" method="post">
                    <div class="row">
                        <div class="col-lg-6" style="margin-left: 10px">
                            <input type="text" name="loginacct" lay-verify="title"
                                   autocomplete="off" placeholder="账号" class="layui-input">
                        </div><!-- /.col-lg-6 -->
                    <div class="blank_01"></div>
                    <div class="blank_01"></div>
                        <div class="col-lg-6"  style="margin-left: 10px">
                            <input type="password" name="userpswd" lay-verify="title"
                                   autocomplete="off" placeholder="密码" class="layui-input">
                        </div><!-- /.col-lg-6 -->
                    <div class="blank_01"></div>
                    <div class="blank_01"></div>
                </form>
                <div class="box_01">
                        <div class="box_01_both">
                            <div class="box_01_both_2">忘记密码？</div>
                        </div>
                    </div>
                <div class="blank_01"></div>
                <a href="#" class="aline">
                    <div style="background: #FF8C69;" class="red_button" onclick="toLogin()">
                        登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录
                    </div>
                </a>
                <div class="blank_01"></div>
                <div class="blank_01"></div>
                <div class="box_down">
                    <div class="box_down_1">京东钱包&nbsp;&nbsp;|&nbsp;&nbsp;QQ
                        &nbsp;&nbsp;|&nbsp;&nbsp;微信
                    </div>
                </div>
                <!--end-->
            </div>
            <div class="tab-pane fade" id="ios">
                <!--start-->
                <div class="l1 ">
                    <div class="l1_font_01 ">您好,欢迎登录!</div>
                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                </div>
                <div class="blank_01"></div>
                <div class="ts">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div class="blank_01"></div>
                <div class="blank_01"></div>
                <a href="#" class="aline">
                    <div style="background: #FF8C69;" class="red_button" onclick="checkCode()">
                        登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录
                    </div>
                </a>
                <div class="blank_01"></div>
                <div class="blank_01"></div>
                <div class="box_down">
                    <div class="box_down_1">京东钱包&nbsp;&nbsp;|&nbsp;&nbsp;QQ
                        &nbsp;&nbsp;|&nbsp;&nbsp;微信
                    </div>
                </div>
                <!--end-->
            </div>

        </div>

        <!--login end-->
    </div>
</div>

<div class="down">
    <br>
    <font size="5px">最终解释权归第一组所有!!!!!</font>
</div>

</body>
</html>


