<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/layer/layer.js"></script>
    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript">

        var title = "";
        $(function(){


            queryHotspot();
             getPingLun();


        })

        function queryHotspot() {


            var id=$("#id").val();

            $.ajax({
                url:'/rdzx/queryHotspotChildren',
                type:'post',
                data:{id:id},
                success:function (result) {
                    title += ""+result.rd_title+"";
                    console.log(title);
                    var cont="";
                    var content=result.rd_content;
                    if (content.length <20) {

                        for (var i = 0; i <20 ; i++) {
                            console.log(content);
                        }
                    }
                    cont += "<div class='load_div'>";
                    cont += "&nbsp;&nbsp;&nbsp;&nbsp;<font size='6'>"+result.rd_title+"</font><br>";
                    cont += "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size='4'>"+result.rd_createtime+"&nbsp;&nbsp;&nbsp;&nbsp;共浏览:&nbsp;"+result.rd_browse+"次</font><br><br>";
                    cont += "<center><img  src='" + result.rd_img + "'width='500px' height='300px'></center>"
                    cont += "<br><br><center><audio controls='controls' style='width: 550px'  src='"+result.rd_mp3+"'></audio></center><br>";
                    cont += "<div style='margin-left: 10px'><font size='5'>"+result.rd_content+"</font><div><br><br><br>";
                    cont += "<div style='width: 550px;height: 50px;background-color: #F3F3F3;margin-left: 10px'>*感谢您的阅读，如您有任何问题，点击文末右侧留言提问按钮，留下您的问题，作者奖尽快回复您。</div>"
                    cont += "</div><br><br><br>";
                    cont +="<div class='load_div'><div style='width: 550px;height: 150px;margin-left: 10px'><textarea id='name' rows='6' cols='60'></textarea></div>"
                    cont +="<div>" +
                        "<div style='margin-left: 10px;width: 500px;height: 80px;float: left'><font size='5'>精品留言</font></div>" +
                        "<div style='margin-left: 10px;height: 80px;float: left'><a  onclick='pinglun()'><font size='4'>留言</font></a></div>" +
                        "</div>"
                    $('#content').html(cont);


                },error:function () {
                    alert("ajax访问失败,请查看控制台");
                }

            })

        }
        function pinglun(){
            var name = $("#name").val();
            var id = $("#id").val();
            if (name==null||name=="") {

                layer.msg("请输入内容");
                return;
            }

            $.ajax({
                url: '/bck/addPingLun2',
                data: {content:name,em_id:id},
                success: function () {
                    layer.msg('留言成功!!', {time:1000, icon:1});
                    $("#name").html("");
                }
            });

        }




        function getPingLun(){
            var id = $("#id").val();
            var contt ="";
            $.ajax({
                url: '/bck/queryPingLun2',
                data:{id:id},
                success: function (result) {
                    console.log(result);
                    $.each(result, function (index, obj) {
                        contt += "<div  class='article' style='width: 600px;height: 110px'>";
                       contt += "<div style='width: 100px;margin-left: 50px;float: left'><img width='100px' height='100px' class='img-circle' src='"+obj.img+"'></div>";
                        contt += "<div style='width: 400px;float: left;margin-left: 20px'><p><font size='5' color='#a9a9a9'>"+obj.name+"</font></p><p><font size='4'>"+obj.content+"</font></p></div><br>";
                        contt += "</div><br>";
                    })
                    $('#aa').append(contt);
                }
            })
        }



        function addShoucang() {

            var id = $("#id").val();
            var tname = "热点资讯";
             $.ajax({
                     url:'/rdzx/addShoucang',
                     type:'post',
                     data:{wzId:id,tname:tname,title:title},
                     success:function (data) {

                         if (data == "0") {
                             layer.msg("请先登录");
                             location.href="/home/ToPage?name=login"
                         }else if (data == "1") {
                             layer.msg("收藏成功");
                         }else{

                             layer.msg("请不要重复收藏");
                         }


                     },error:function () {
                         alert("ajax访问失败,请查看控制台");
                     }

                     })
        }

        function back() {
            window.location.href="/home/ToPage?name=rdzx";
        }

    </script>
    <style type="text/css">
        body,div{
            margin:0;
            padding:0;
        }
        body{
            width: 600px;
            background-color: #FFFFFF;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            border: 1px solid #FFFFFF;
            justify-content: flex-start;
        }
        .load_div{
            width: 600px;
            height: 450px;
            border:1px solid #FFFFFF;
        }
    </style>

</head>
<head th:replace="left :: head"></head>
<head th:replace="right :: head"></head>
<body>
<div style="margin-left:450px;">
    <div style='height: 80px;width: 600px'>
        <nav class="navbar navbar-default " role="navigation">

            <div class="container-fluid">
                <div class="navbar-header">
                   <div style="margin-left: 50px"></div>
                    <a class="navbar-brand" href="javascript:void(0)" onclick="back()">返回</a>
                    <a class="navbar-brand" href="#"><font size='6'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;热点资讯</font></a>
                    <a class="navbar-brand" href="javascript:void(0)" onclick="addShoucang()">收藏</a>
                </div>
            </div>
        </nav>
    </div>
    <input type="hidden" id="id"  th:value="${param?.id}">
    <div id="content">

    </div>
    <div id="aa" class="load_div">

    </div>

</div>
    <div id="div1" style="width: 240px;height: 610px;margin-left: 220px;border-radius: 10px; margin-top: 200px;position: fixed" >
        <div id="div001"  th:replace="left :: left" ></div>
    </div>
    <div id="div2" style="width: 240px;height: 610px;margin-left: 1050px;border-radius: 10px; margin-top: 200px;position: fixed">
        <div id="div002"  th:replace="right :: right" ></div>
    </div>
</body>
</html>
