<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/layer/layer.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/js/bootstrap-bootbox/bootbox.js"></script>
</head>
<script type="text/javascript">
    var ii = 0;
    $(function () {
        queryWenXian();
    });

    function toView(name) {
        var nameTitle = name;
        /*ajax   start*/
        $.ajax({
            url: "/wenx/updateBrowse",
            type: "POST",
            data: {name: nameTitle},
            beforeSend: function () {
                ii = layer.msg('加载中', {
                    icon: 16
                    , shade: 0.01
                });
            },
            success: function (a) {
                window.location.href = "/wenz/toView?viewName=xiangqing&name=" + nameTitle;
            },
            error: function () {
                layer.msg("ajax失败");
            }, complete: function () {
                layer.close(ii);
            }
        });
        /*ajax   end*/
    }

    function queryWenXian() {
        /*ajax   start*/
        $.ajax({
            url: "/wenx/queryWenXIan",
            type: "POST",
            beforeSend: function () {
                ii = layer.msg('加载中', {
                    icon: 16
                    , shade: 0.01
                });
            },
            success: function (a) {

                var content = "";
                $.each(a, function (index, obj) {
                    content += "<tr>";
                    content += "<td>";
                    content += "<div><h4>";
                    content += "<a id='s" + obj.id + "' href='javascript:void(0)' onclick=toView('" + obj.name + "')>" + obj.name + "</a>";
                    content += "</h4></div>";
                    content += "<div>";
                    content += "<h5><b>" + obj.createTime + "&nbsp&nbsp&nbsp&nbsp" + "共浏览" +"<font color='red'>"+ obj.browse + "</font>次</b></h5>";
                    content += "</div>";
                    content += "</td>";
                    content += "</tr>";
                });

                $("#trtab").html(content);
            },
            error: function () {
                layer.msg("ajax失败");
            }, complete: function () {
                layer.close(ii);
            }
        });
        /*ajax   end*/
    }

    function toViewName(viewName) {
        var seTitle = $("#seTitle").val();
        window.location.href = "/wenz/toView?viewName=" + viewName + "&title=" + seTitle;
    }
</script>
<body>
<div style="margin-left: 20px">
    <font size="4px"><a href='javascript:void(0)' onclick=toViewName("wenzhang")>返回</a></font>
</div>
<input type="hidden" id="seTitle" th:value="${session?.wenZhang.title}">
<input type="hidden" id="titleVal" th:value="${param?.title}">
<div class="row" style="width: 450px;height: 800px;">
    <h3>
        <div class="panel panel-default" style="margin-top: 5px;margin-left: 25px;width: 450px;height: 30px;">
            <div class="panel-heading">
                <div style="margin-left: 130px">
                    临床文献
                </div>
            </div>
        </div>
    </h3>
    <div style="margin-left: 30px">
        <table id="trtab" width="450px" border="1px">
        </table>
    </div>
</div>
</body>
</html>