<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/layer/layer.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/js/bootstrap-bootbox/bootbox.js"></script>
</head>
<!--广告页面引入-->
<head th:replace="left :: head"></head>
<head th:replace="right :: head"></head>
<script type="text/javascript">
    var ii = 0;
    $(function () {
        queryWen();
        $("#s1").css("background", "#DCDCDC");
        alert(IPData[0])

    })
    var title = "";
    /*生成二维码*/
    function showErWei() {
        $("#ErWei").show();
        var data=this.location.href;
        $.ajax({
            url:"/wenz/getErwei",
            data:{data:data},
            success:function (result) {
                $("#ErWei").attr("src","data:image/jpg;base64,"+result)
            }
        })
    }
    /*end*/


    function queryWen() {
        var titleVal = $("#titleVal").val();
        /*ajax   start*/
        $.ajax({
            url: "/wenz/queryWen",
            type: "POST",
            data: {title: titleVal},
            beforeSend: function () {
                ii = layer.msg('加载中', {
                    icon: 16
                    , shade: 0.01
                });
            },
            success: function (a) {
                var site=a.site;
                $("#title").html(a.title);
                $("#name").html(a.name);
                $("#img1").prop("src", a.img);
                $("#music").attr("href", a.music);
                $("#content").html("&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp" + a.content);
                $("#getSite").html("&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp--------文章发布于 "+site);
                console.log(a);
            },
            error: function () {
                layer.msg("ajax失败");
            }, complete: function () {
                layer.close(ii);
            }
        });
        /*ajax   end*/
    }

    function toView(viewName) {
        var titleVal = $("#titleVal").val();
        /*ajax   start*/
        $.ajax({
            url: "/wenz/setTitleVal",
            type: "POST",
            data: {title: titleVal},
            beforeSend: function () {
                ii = layer.msg('加载中', {
                    icon: 16
                    , shade: 0.01
                });
            },
            success: function (a) {
                window.location.href = "/wenz/toView?viewName=" + viewName + "&title=" + titleVal;
            },
            error: function () {
                layer.msg("ajax失败");
            }, complete: function () {
                layer.close(ii);
            }
        });
        /*ajax   end*/

    }

    function toViewName(indexView) {
        window.location.href = "/wenz/toView?viewName=" + indexView;
    }

    function addShouCang() {
        var title = $("#titleVal").val();
        var tname = "热点文章";
        var wzId = $("#wzId").val();
        $.ajax({
            url: '/bck/addShouCang',
            data:{wzId:wzId,tname:tname,title:title},
            success: function (result) {
                if(result=="0"){
                    layer.msg('请先登录!!', {time:1000, icon:2});
                    location.href="/home/ToPage?name=login";
                }else if(result == "1"){
                    layer.msg('收藏成功!!', {time:1000, icon:1});
                }else {
                    layer.msg('不能重复收藏!!', {time:1000, icon:2});
                }
            }
        })
    }
    function sendEmail(){
        var username = $("#reUrl2").val();
        var email = $("#email").val();
        var wzid = $("#wzId").val();
        if (username != ""){
            /*ajax   start*/
            $.ajax({
                url:"/order/saveOrder",
                data:{username:username,email:email,wzid:wzid},
                beforeSend:function(){
                    ii = layer.msg('加载中', {
                        icon: 16
                        ,shade: 0.01
                    });
                },
                success:function(a){
                    layer.msg('邮箱已发送，注意查收。请不要重复发送！！！');
                },
                error:function(){
                    layer.msg("ajax失败");
                },complete:function(){
                    layer.close(ii);
                }
            });
            /*ajax   end*/
        }else{
            layer.msg('请先登录！！！');
        }
    }
</script>
<body>
<input type="hidden" id="reUrl1" th:value="${session.user?.id}">
<input type="hidden" id="reUrl2" th:value="${session.user?.username}">
<div style="margin-left: 30%">
<div style="margin-left: 20px">
    <font size="4px"><a href='javascript:void(0)' onclick=toViewName("index-home")>返回</a></font>
    <font size="4px"><a href='javascript:void(0)' onclick=addShouCang()>收藏</a></font>
    <font size="4px">
        <!-- 按钮触发模态框 -->
        <a href='javascript:void(0)' onclicl="sendEmail()" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">获取文章内容</a></font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1552976108707&di=760a1f1db8757ce0d6af01017f871780&imgtype=0&src=http%3A%2F%2Fpic.51yuansu.com%2Fpic2%2Fcover%2F00%2F34%2F67%2F581177d46eee1_610.jpg" height="20px" width="20px" onclick="showErWei()">
    <img id="ErWei" hidden></div>
<input type="hidden" id="titleVal" th:value="${param?.title}">
<input type="hidden" id="wzId" th:value="${param?.id}">
<div class="row" style="width: 450px;height: 800px;">
    <h3>
        <div class="panel panel-default" style="margin-top: 5px;margin-left: 25px;width: 450px;height: 30px;">
            <div class="panel-heading">
                <div style="margin-left: 130px">
                    <div id="title"></div>
                </div>
            </div>
        </div>
    </h3>
    <h4>
        <div id="name" style="margin-top: 25px;margin-left: 70px"></div>
    </h4>
    <div id="img" style="margin-top: 10px;margin-left: 90px">
        <img width="300px" src="" id="img1">
    </div>
    <!--收音机-->
    <div style="margin-top: 5px;margin-left: 60px">
        <audio controls="controls" id="music" src=""></audio>
    </div>
    <div class="panel panel-default" style="margin-left:50px;margin-top: 20px">
        <div class="panel-heading">
            <h3 class="panel-title">
                介绍:
            </h3>
        </div>
        <div id="content" style="margin-top: 5px;margin-left: 15px;margin-right: 10px"></div>
    </div>
    <div style="background-color: #D3D3D3;width: 450px;height: 100px;margin-left: 50px">
        <div style="float: left;margin-left: 15px ;margin-top: 15px">
            <a href='javascript:void(0)' onclick=toView("wenxian")>
                <div><img width="70px" height="60px" src="/js/img/20181204133700.jpg"></div>
                <div><font size="4" style="color: #1c94c4">临床文献</font></div>
            </a>
        </div>
        <div style="float: left;margin-left:15px ;margin-top: 15px">
            <a href='javascript:void(0)' onclick=toView("zjzja")>
                <div><img width="70px" height="60px" src="/js/img/20181204133826.jpg"></div>
                <div><font size="4" style="color: #1c94c4">专家灼见</font></div>
            </a>
        </div>
        <div style="float: left;margin-left:15px ;margin-top: 15px">
            <a href='javascript:void(0)' onclick=toView("bingtong")>
                <div><img width="70px" height="60px" src="/js/img/20181220190304.png"></div>
                <div><font size="4" onclick="bcklocation()" style="color: #1c94c4">病例荟萃</font></div>
            </a>
        </div>
        <div style="float: left;margin-left:15px ;margin-top: 15px">
            <a href='javascript:void(0)' onclick=toView("general")>
                <div><img width="70px" height="60px" src="/js/img/20190107163920.jpg"></div>
                <div><font size="4" style="color: #1c94c4">实用工具</font></div>
            </a>
        </div>
        <div style="float: left;margin-left:15px ;margin-top: 15px">
            <a href='javascript:void(0)' onclick=toView()>
                <div><img width="70px" height="60px" src="/js/img/20190107163940.png"></div>
                <div><font size="4" style="color: #1c94c4">常见Q&A</font></div>
            </a>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        请输入您的邮箱
                    </h4>
                </div>
                <div class="modal-body">
                    <input id="email" type="text" >
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" onclick="sendEmail()" class="btn btn-primary">
                        保存
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
</div>
</div>
    <div id="div1" style="width: 240px;height: 610px;margin-left: 230px;border-radius: 10px; margin-top: -730px;position: fixed" >
        <div id="div001"  th:replace="left :: left" ></div>
    </div>
    <div id="div2" style="width: 240px;height: 610px;margin-left: 1100px;border-radius: 10px; margin-top: -730px;position: fixed">
        <div id="div002"  th:replace="right :: right" ></div>
    </div>
</body>
</html>