<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/layer/layer.js"></script>

    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</head>
<script type="text/javascript">
    
    $(function(){

        queryXuefenTwo();
    })
    
    function queryXuefenTwo() {

        var id=$("#id").val();
        var xf_name=$("#xf_name").val();
        if (xf_name == "一类五分") {
            $.ajax({
                url:'/queryXuefenTwo',
                type:'post',
                data:{id:id,xf_name:xf_name},
                success:function (data) {



                },error:function () {
                    alert("ajax访问失败,请查看控制台");
                }

            });
        }else{

             $.ajax({
                     url:'/ech/queryEcharts',
                     type:'post',
                     data:{id:id,xf_name:xf_name},
                     success:function (data) {



                     },error:function () {
                         alert("ajax访问失败,请查看控制台");
                     }

                     })
        }

        
    }

</script>
<body>
<div style="width:550px;height:80px">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:back()">返回</a>
            </div>
            <div>
                <div style="margin-left:170px">
                    <p class="navbar-text"><font size="5px">学分课程</font></p>
                    <p class="navbar-text"><font size="5px"><a href="javacript:addShoucang()">收藏</a></font></p>
                </div>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">...</a></li>
            </ul>
        </div>
    </nav>
</div>
<input type="hidden" id="id" th:value="${param?.id}">
<input type="hidden" id="xf_name" th:value="${param?.xf_name}">

</body>
</html>
