<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>专家灼见</title>
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/layer/layer.js"></script>

    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

</head>
<body>
<div style="width:550px;height:80px">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:fanhui()">返回</a>
            </div>
            <div>
                <p class="navbar-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="5px">专家灼见</font></p>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">...</a></li>
            </ul>
        </div>
    </nav>
</div>
    <div style="width:550px;height:62px;">
        <center>
            <button type="button" class="btn btn-default btn-lg" onclick="showDK()">大咖在线</button>
            <button type="button" class="btn btn-default btn-lg" onclick="querySpeciaListToHtml()">大家观点</button>
            <button type="button" class="btn btn-default btn-lg" onclick="queryLive()">大会直播</button>
        </center>
    </div>
    <div class="load_div" style="background:#F5DEB3;width:548px;height:130px">


    </div>
    <div class="Sbox">
    </div>

</body>
<script>
    $(function () {
        querySpeciaListToHtml()
        queryImg()
    })
    function fanhui() {
        location.href="http://localhost:2001/home/ToPage?name=index-home#";
    }

    function queryImg() {


         $.ajax({
                 url:'/query/queryImg',
                 type:'post',
                 data:{id:1},
                 success:function (data) {

                    var conent="";

                     conent+="<div style='position:relative;margin-left:10px'><br>"
                     conent+="<img src="+data.img+" width='520px' height='90'>"
                     conent+=" <div style='position:absolute; z-index:2; left:200px; top:50px'>"
                     conent+=" <font size='5px' color='black'>"+data.conent+"</font>"
                     conent+=" </div>"
                     conent+=" </div>"

                     $(".load_div").html(conent);


                 },error:function () {
                     alert("ajax访问失败,请查看控制台");
                 }

                 })
    }
    function showDK() {
        /!*ajax   start*!/
                $.ajax({
                   url:"/home/getMaster",
                   beforeSend:function(){
                          ii = layer.msg('加载中', {
                          icon: 16
                          ,shade: 0.01
                          });
                    },
                   success:function(a){
                       var content = "";
                    $.each(a,function (index ,obj){
                        console.log(obj.id);
                        content +="<div style='margin-top:15px;width: 500px;height: 240px;background-color:#FF7F50;margin-left:20px;'><div style='position:relative;'>";
                        content +="<a href='javascript:updatePeople("+obj.id+")'>"
                        content +="<img src='"+obj.url+"' width='450px' height='175px' style='margin-left: 22px; margin-top:20px;'>"
                         content +="<div style='position:absolute; z-index:2;margin-left: 32px; margin-top: 13px;'>";
                         content +="<font size='4'>"+obj.name+"</font></a>";
                         content +="</div>";
                        content += "</div></div>";
                    })
                       $(".Sbox").html(content);
                   },
                   error:function(){
                      layer.msg("ajax失败");
                   },complete:function(){
                         layer.close(ii);
                    }
               });
             /!*ajax   end*!/
    }
    function querySpeciaListToHtml() {
        $.ajax({
            url: '/query/querExprent',
            success: function (result) {
                var html = "";
                for (var i = 0; i < result.length; i++) {
                    html += "<div  ondblclick='getDetails(" + result[i].id + ")' style='width:550px;height:180px;background: oldlace;margin-left:1px;margin-top: 20px'>"
                    html += "<a href='javascript:updatePeopleTwo("+result[i].id+")'><div   style='width:180px;height:180px;float:left;margin-top: 15px;margin-left: 15px'>" +
                        "<img width='130' height='150'  src=" + result[i].dt_img + " >" +
                        "</div>"
                    html += "<div  style='float:left;margin-left: -37px;margin-top: 15px'><h4>" + result[i].gd_title + "</h4></div><br>"
                    html += "<div  style='float:left;margin-left: -37px' >" + result[i].dt_name + "&nbsp;-&nbsp;" + result[i].dt_zc + " </div><br><br><br>"
                    html += "<div  style='float:left;margin-left: -37px'>" + result[i].dt_addr + "</div><br><br>"
                    html += "<div  style='float:left;margin-left: -37px'>" + result[i].gd_browse + "人观看&nbsp;&nbsp;&nbsp;&nbsp;获得" + result[i].gd_zeid + "奖章" + "</div>"
                    html += "</a></div>"
                }
                $(".Sbox").html(html)
            }
        })
    }

    function queryLive() {

         $.ajax({
                 url: '/query/queryLive',
                 type:'post',
                 success:function (data) {
                        var conent="";
                        $.each(data,function (index,obj) {
                            console.log(obj.id);
                            conent +="<div style='margin-top:15px;width: 500px;height: 240px;background-color:#FF7F50;margin-left:20px;'>";
                            conent +="<div style='position:relative;'>";
                            conent +="<a href='/home/ToPage?name=zhibo&id="+obj.id+"'>"
                            conent +="<img src='"+obj.url+"' width='450px' height='175px' style='margin-left: 22px; margin-top:20px;'>"
                            conent +="<div style='position:absolute; z-index:2;margin-left: 32px; margin-top: 13px;'>";
                            conent +="<font size='4'>"+obj.name+"</font></a>";
                            conent +="</div>";
                            conent +="</div>";
                            conent += "</div>";
                        })

                     $(".Sbox").html(conent);


                 },error:function () {
                     alert("ajax访问失败,请查看控制台");
                 }

                 })
    }

    /*修改大咖在线噶观看人数*/
    function updatePeople(id) {

         $.ajax({
                 url:'/query/updatePeople',
                 type:'post',
                 data:{id:id},
                 success:function (data) {

                     location.href=" /home/ToPage?name=dakaOnline&id="+id;

                 },error:function () {
                     alert("ajax访问失败,请查看控制台");
                 }

                 })

    }
    /*修改大家观点观看人数*/
    function updatePeopleTwo(id) {

        $.ajax({
            url:'/query/updatePeopleTwo',
            type:'post',
            data:{id:id},
            success:function (data) {

                location.href=" /home/ToPage?name=dajiaguandian&id="+id;

            },error:function () {
                alert("ajax访问失败,请查看控制台");
            }

        })

    }



    function getDetails(id) {
        location.href = "/query/queryDjgd?id=" + id;
    }
</script>

</html>